<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--7.3.2 节示例（前置增强）的配置-->
    <!--<bean id="greetingAdvice" class="com.smart.advice.GreetingBeforeAdvice"/>-->
    <!--<bean id="target" class="com.smart.advice.NaiveWaiter"/>-->
    <!--<bean id="waiter" class="org.springframework.aop.framework.ProxyFactoryBean"-->
    <!--p:proxyInterfaces="com.smart.advice.Waiter"-->
    <!--p:interceptorNames="greetingAdvice"-->
    <!--p:target-ref="target"-->
    <!--/>-->

    <!--7.3.3 节示例（后置增强）的配置-->
    <!--<bean id="greetingBefore" class="com.smart.advice.GreetingBeforeAdvice"/>-->
    <!--<bean id="greetingAfter" class="com.smart.advice.GreetingAfterAdvice"/>-->
    <!--<bean id="target" class="com.smart.advice.NaiveWaiter"/>-->
    <!--<bean id="waiter" class="org.springframework.aop.framework.ProxyFactoryBean"-->
    <!--p:proxyInterfaces="com.smart.advice.Waiter"-->
    <!--p:interceptorNames="greetingBefore,greetingAfter"-->
    <!--p:target-ref="target"-->
    <!--/>-->

    <!--7.3.4 节示例（环绕增强）的配置-->
    <!--<bean id="greetingAround" class="com.smart.advice.GreetingInterceptor"/>-->
    <!--<bean id="target" class="com.smart.advice.NaiveWaiter"/>-->
    <!--<bean id="waiter" class="org.springframework.aop.framework.ProxyFactoryBean"-->
    <!--p:proxyInterfaces="com.smart.advice.Waiter"-->
    <!--p:interceptorNames="greetingAround"-->
    <!--p:target-ref="target"-->
    <!--/>-->

    <!--7.3.5 节示例（异常抛出增强）的配置-->
    <bean id="forumServiceTarget" class="com.smart.advice.ForumService"/>
    <bean id="transactionManager" class="com.smart.advice.TransactionManager"/>
    <bean id="forumService" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:interceptorNames="transactionManager"
          p:target-ref="forumServiceTarget"
          p:proxyTargetClass="true"
    />

</beans>