<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="/product_input.action" class="app17b.controller.InputProductController"/>
    <bean name="/product_save.action" class="app17b.controller.SaveProductController"/>

    <!--简化 JSP 页面在 Java 代码中的加载，只需要使用文件名就行，路径和扩展名会自动加上去。-->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

</beans>